@tailwind base;
@tailwind components;
@tailwind utilities;


body, * {
  user-select: none; /* Standard */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

* {
  caret-color: transparent;
}

html {
  scroll-behavior: smooth;
}
